/delayTasks/conf/_privacy.py
/delayTasks/.idea/delayTasks.iml
/delayTasks/.idea/inspectionProfiles/profiles_settings.xml
/delayTasks/.idea/misc.xml
/delayTasks/.idea/modules.xml
/delayTasks/.idea/vcs.xml
/delayTasks/.idea/workspace.xml
/servers/microserver_tyspider/.idea/inspectionProfiles/profiles_settings.xml
/servers/microserver_tyspider/.idea/micorserver_tyspider.iml
/servers/microserver_tyspider/.idea/misc.xml
/servers/microserver_tyspider/.idea/modules.xml
/servers/microserver_tyspider/.idea/vcs.xml
/servers/microserver_tyspider/.idea/workspace.xml
/servers/microserver_computation/.idea/inspectionProfiles/profiles_settings.xml
/servers/microserver_computation/.idea/microserver_computation.iml
/servers/microserver_computation/.idea/misc.xml
/servers/microserver_computation/.idea/modules.xml
/servers/microserver_computation/.idea/vcs.xml
/servers/microserver_computation/.idea/workspace.xml
/background/config/_privacy.py
